div(id="{$_name}")
	|{$form}
	br
	.atk-button.atk-box-small
		| Total Income : <b>{$total_income}</b> &nbsp;Total Expense : <b>{$total_expense}</b> Provisional Payout:
		span.atk-effect-danger
			Please Provide its formulation
	|{$grid}
	|{$Content}